@{
    ViewBag.Title = "Contact";
}
<div class="row col-md-offset-2">
    <br/><br />
    <h2>Contact</h2>

    <address>
        Istifa Wadeed Center<br />
        Govt. College for Women Chowk,<br />
        Jhang Sadar, Punjab<br />
        PAKISTAN  - 35200 <br />
        <abbr title="Phone">P:</abbr>
        047.765.3001
    </address>

</div>
<div class="row">
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>function google_maps_51ab12920804b() { var latlng = new google.maps.LatLng(31.267535, 72.31985); var myOptions = { zoom: 16, center: latlng, zoomControl: true, mapTypeControl: false, streetViewControl: false, scrollwheel: false, mapTypeId: google.maps.MapTypeId.ROADMAP }; var map = new google.maps.Map(document.getElementById("google-map-area-51ab12920804b"), myOptions); var image = "/Images/pin.png"; var marker = new google.maps.Marker({ position: latlng, map: map, icon: image, }); } jQuery(document).ready(function ($) { google_maps_51ab12920804b(); });</script>
    <div class="google-map-area" id="google-map-area-51ab12920804b" style="width:98%; height:400px; margin:10px;">&nbsp;</div>
</div>
<script>activePageMenu(3);</script>

